Notes.txt
compile_commands.json
old/build/*
old/python/*.onnx
old/python/*.trt
old/python/*.qdrep
old/python/*.pb
.cache
.vscode
__pycache__
cookbook/05-Plugin/usePluginV2DynamicExt/AddScalarPlugin.so
cookbook/05-Plugin/usePluginV2DynamicExt/AddScalarPlugin.d
